.songs {
    margin-top: 100px;
}

.song {
    margin:10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 10px;
}

.bigContainer {
    position: absolute;
    margin: 10px;
    padding: 5px;
}

.selection {

    float: left;
    width: 50px;
    height: 50px;
    background-color: aqua;
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    transform: skew(20deg);

}
#webglcanvas {
    height: 20%;
}

.selection:hover {
    background-color: rgb(243, 204, 77);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.selection:active {
    background-color: rgb(243, 204, 77);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.selection_2 {

    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(212, 162, 197);
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    transform: skew(20deg);
}

.selection_2:hover {
    background-color: rgb(166, 223, 183);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}
.selection_3 {

    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(112, 158, 158);
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    transform: skew(20deg);

}

.selection_3:hover {
    background-color: rgb(157, 126, 192);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

#buy {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 400px;
    margin-top: 30px;
}

.selection_4 {

    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(225, 253, 159);
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    transform: skew(20deg);

}

.selection_4:hover {
    background-color: rgb(230, 171, 227);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.tune {

    width: 50px;
    height: auto;
}

option {

    width: 50px;
    height: 50px;
    background-color: rgb(185, 240, 199);
    border-radius: 50%;
}


songOne {

    background-color: #e9cc2a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}